@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');


h1 {
	color: white;
	border-style: solid;
	border-width: 6px;
	text-align: center;
}

h3 { 
	text-align: center;
	color: white
}
table, td, th {
  border: 1px solid;
  text-align: center;
}

table {
  width: 100%;
  
}
body {
	background-color: #18da7c;
	max-width: 700px;
	margin: auto;
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.rotated {

  rotate: 180deg;
}