<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daniel Black Box Investigation</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

<nav>
  <ul>
    <li><a>screenprinting project</a></li>
    <li></li>
    <li></li>
  </li>
</nav>




<h1>Black Box Investigation</h1> 
Welcome to Daniel Website
<p>In New Media and Tech, there is a black box called “The Mystery Black Box.” The mystery black box is a model where you cannot see what’s inside of it. You pour water through the funnel at the top and water comes out through a tube at the bottom. You have to guess what’s inside the box based on what happens when the water is poured. Your goal is to configure an idea of what’s in the box and create a model with the idea.</p>

<img src="IMG_3821.JPG" alt=" Original Black Box" width="500">


<h3>Claim</h3>
<p>Our model could not be in the original Mystery Black Box.</p>


<h3>Evidence</h3>
<p>The black mystery box is a box that changes the amount of water that is released and then poured. Our observations about that black box was that it felt like the water was moving in the black box. We tried listening and using a heat scanner to determine how the black box worked.  We heard the water moving from the top to the bottom of the box.  We observed the black box with a heat scanner when we poured hot water and we saw the water moving but not clearly. 

Our black box we decided to try a 2 siphon bucket, which we built.
        
We tested our black box by pouring an amount of water to see if we would get a different amount of water from the black box. When we did it we mostly got the same amount. Our black box did not have the same data as the original black box you can see the difference in data at the bottom

<p>

<img src="Danielrealbox.JPG" alt="A real life model of our Black Box" width="500">


<h3>Reason Part 1</h3>
<p>Models are illustrations of things and they can be useful in helping us understand and get a visual representation of things. The limitation of a model is that it is not exactly like the real thing so you might not get the same results.

</p>


<h3>Reason Part 2</h3>
<p>My claim that the original black box does not use a 2 bucket siphon is true because if you look at the data between our black box and the original you can see a difference. For example, in the original black box the water output difference was huge for each trial while in my blackbox the output was similar.   

<p>

<h3>Reason Part 3</h3>
<p>If there was  a 2-bucket siphon in the original mystery black box then I would have observed that the original mystery box would have the same data as our mystery black box. The outcome for this claim is not observed so that means that there is not a 2 bucket siphon in the mystery black box

<p>

<img src="Danielsblackbox3d.png" alt="This is My Black Box Model in Maya 2025 Rendering." width="450" height="300">

<h3>3D Modeling, Animation, and Augmented Reality</h3>

<p>I created my 3D model of my black box in maya. First I started by making the box where I would be putting everything in. Then I made my 2 buckets for the 2 bucket siphon and made it see thru. After that I made the tudes and connected them to the buckets. I made the funnel and connected it to the top of the box and arranged everything.  Lastly I made the animation by using the animation function in maya. 

<P>

<h3>Personal Reflection</h3>

<p>This project was long and interesting. During the projects I worked with my teammates by helping them, and they also helped me.  I learned a lot about coding through the pictionary. My favorite pictionary was the one about sunglasses. What I enjoyed the most was doing the animations. What I struggled with was the modeling of certain things like the funnel. What I could do better in the next project is being more prepared for the project and paying attention. 

<P>

<a href="https://objects.mergeedu.com/link/QDWP55">View this model in Augmented Reality</a>



<h3>The Original Black Box</h2>

<table>
  	<tr>
    		<th>Trial</th>
    		<th>Volume of water Input (ml)</th>
    		<th>Volume of water Output (ml)</th>
  	</tr>
  	<tr>
    		<td>1</td>
    		<td>1000</td>
    		<td>1830</td>
  	</tr>
  	<tr>
    		<td>2</td>
    		<td>1000</td>
    		<td>1300</td>
  	</tr>
  	<tr>
		<td>3</td>
		<td>1000</td>
		<td>1400</td>
	</tr>

         <tr>
    		<td>4</td>
    		<td>1000</td>
    		<td>535</td>
         </tr>

          <tr>
    		<td>5</td>
    		<td>1000</td>
    		<td>1539</td>
         </tr>
    
          <tr>
    		<td>6</td>
    		<td>1000</td>
    		<td>200</td>
         </tr>



</table>


<h3>My Black Box</h2>

<table>
  	<tr>
    		<th>Trial</th>
    		<th>Volume of water Input (ml)</th>
    		<th>Volume of water Output (ml)</th>
  	</tr>
  	<tr>
    		<td>1</td>
    		<td>600</td>
    		<td>590</td>
  	</tr>
  	<tr>
    		<td>2</td>
    		<td>600</td>
    		<td>600</td>
  	</tr>
  	<tr>
		<td>3</td>
		<td>700</td>
		<td>670</td>
	</tr>

         <tr>
    		<td>4</td>
    		<td>800</td>
    		<td>770</td>
         </tr>



</table>



  </body>

<h3> 21 Centuary Skill</h3>

<p> The 21 century skill that I use the most in this black box project was accessing and analyzing information because in the project we had to analyze the black box. We analyzed the black box by listening to it as water passed through and looking at the shape. We accessed the data of how much water came out each time from the black box and then we analyzed the data. We had to find out what was inside the black box so we made a connection from the black box to stuff like a 2 bucket siphon. In the end we learned that the black box is not a 2 bucket siphon <p>



</html>





